#menubar {
  padding: 10px;
  background-color: #CCCCCC;
  border-radius: 10px;
  width: 300px;
}
.menuItem {
  background-color: #B3B3B3;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 5px;
  width: 100px
}
a {
  color: #000000;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
}
h1, h2 {
  font-family: Helvetica;
}
h3 {
  font-family: Arial;
}

p {
  font-family: Courier;
  font-size: 15px
}
#courtesy {
  background-color: #CCCCCC;
  border-radius: 8px;
  height: 30px;
  width: 300px;
  margin:auto;
}
#all {
  background-color: #666666;
  padding: 10px;
  border: 2px solid #333333;
  border-radius: 10px;
  height: 300px;

  margin: auto;
  text-align: center;
}

#stuff {
	margin: auto;
	width: 350px;
}
